div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}

#div1 {
  margin: 100px;
}

#div2 {
  margin: 200px 100px;
}

#div3 {
  margin: 100px 200px;
}

#div4 {
  margin: 100px 150px 200px;
}
