ul.list-circle {
  list-style-type: circle;
}

ul.list-armenian {
  list-style-type: armenian;
}

ul.list-upper-roman {
  list-style-type: upper-roman;
}

ul.list-lower-alpha {
  list-style-type: lower-alpha;
}

.position-outside {
  list-style-position: outside;
  width: 300px;
}

.position-inside {
  list-style-position: inside;
  width: 300px;
}

ul.list-image {
  list-style-image: url("react.svg");
}

ul.shorthand {
  list-style: lower-alpha inside url("react.svg");
  width: 250px;
}
